.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.app-container {
  text-align: center;
  /*background-color: #eff6f0;*/
  background-color: darkslategrey;
}

.wip {
  position: absolute;
  width: 150px;
  height: 90vh;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 200;
  background-image: radial-gradient(#2b7a0b, #ff5b00);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: transparent;
  -webkit-background-clip: text;
}

.header img {
  height: 4em;
  align-self: center;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.crafting-state {
  width: 200px !important;
}
.next-part {
  position: absolute;
  bottom: 1px;
}

.finished-parts {
  margin-left: 200px;
}

.drag-container{
  margin-bottom: 5px;
}

